<a href="https://colab.research.google.com/github/gittymarina/merogit/blob/master/TASK_1_DS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#LOADING OUR DATASET
import pandas as pd
df=pd.read_csv('/content/bank (1).csv',sep=";")
df

FINDING NULL VALUES IF THERE IS ANY IN OUR DATASET

In [ ]:
df.isnull().sum()

WE HAVE NO NULL VALUES IN THE DATASET

INFORMATION OF OUR DATASET

In [ ]:
df.info()

**HEATMAP**

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
plt.figure(figsize=(10,10))
sns.heatmap(df.corr(),annot=True,cmap="viridis")



IN THIS HEATMAP WE INFER THAT "EURIBOR3M" AND "NR.EMPLOYED" ARE STRONGLY CORRELATED.

**PAIRPLOT**

In [ ]:
sns.pairplot(data=df,vars=['pdays',"emp.var.rate","cons.price.idx","euribor3m","nr.employed"])



WE INFER FROM THE PAIRPLOT THAT "EURIBOR3M" AND "NR.EMPLOYED" ARE STRONGLY CORRELATED AND OTHER VARAIABLES ARE LIGHTLY AND MODERATEL

In [ ]:
df.corr()

**BAR PLOT**

In [ ]:
sns.barplot(data=df,x="default",y="age")
plt.title("DISTRIBUTION OF DEFAULT CREDITS BY AGE")
plt.xlabel("default")
plt.ylabel("age")
plt.show



IN THIS BARPLOT WE INFER THAT THERE ARE MORE PEOPLE UNTIL AGE 42 HAS CERDIT  DEFAULTS AND THERE ARE MORE UNKNOWN CREDIT DEFAULTS TOO AND WHEN COMPARED TO YES AND UNKNOWN CATEGORY THERE IS LESS PEOPLE WHO HAS  NO CREDIT DEFAULTS

In [ ]:
#PLOTTING BARPLOT FOR VARIOUS CATEGORICAL COLUMNS
c=['job','marital','education']
for i,col in enumerate(c,1):
  plt.figure(figsize=(30,30))
  plt.subplot(5,2,i)
  sns.countplot(data=df,x=col,hue='loan')
  plt.xlabel(col)
  plt.ylabel('count')
plt.show()

IN THESE BARPLOT WE INFER THAT ADMINISTRATION JOBS HAVE THE HIGHEST NUMBER OF PERSONAL LOANS,MARRIED PEOPLE HAS THE HIGHEST NUMBER OF PERSONAL LOAN HOLDERS& AND UNIVERSITY DEGREE PEOPLE HAS THE HIGHEST NUMBER OF PERSONAL LOAN.

In [ ]:
plt.figure(figsize=(20,20))
sns.barplot(x="age",y="pdays",data=df)

in this barplot we infer that in the age of around 89 to 95 clients has the highest  number of days that passed by after the client was last contacted from a previous campaign