<a href="https://colab.research.google.com/github/gittymarina/merogit/blob/master/TASK_5_DS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#LOADING OUR DATASET
import pandas as pd
df=pd.read_csv("/content/RTA Dataset.csv")
df

In [ ]:
#information about our dataset
df.info()

In [ ]:
#calculating the number of numerical and categorical columns
df.dtypes.value_counts()

In [ ]:
#understanding the null values in the dataset
df.isnull().sum()

In [ ]:
#description of our dataset
df.describe()

**EDA & VISUALISATION**

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
sns.countplot(data=df,x="Accident_severity")

MORE ACCIDENTS ARE IN SLIGHT INJURY LEVEL IN OUR DATASET

In [ ]:
crosstab=pd.crosstab(df["Time"],df["Cause_of_accident"])
crosstab

COMPARING OUR DATA WITH VARIOUS TIME ZONES AND CAUSE OF ACCIDENTS

In [ ]:
#PLOTTING THE COUNT OF WORK OF CASUALTY
plt.figure(figsize=(10,8))
sns.countplot(data=df,x="Work_of_casuality")

THE CASUALTY PEOPLE ARE MORE OF DOING THE WORK AS DRIVER

In [ ]:
plt.figure(figsize=(20,9))
sns.barplot(x="Type_of_vehicle",y="Number_of_casualties",data=df,palette="viridis")
plt.xlabel("Type_of_vehicle")
plt.ylabel("Number_of_casualties")
plt.title("NO OF CASUALITIES BASED ON TYPE OF VEHICLE")

THE NUMBER OF CASUALITIES ARE HIGH IN RIDING THE HORSE

**WEEKLY ACCIDENT ANALYSIS**

In [ ]:
plt.figure(figsize=(10,8))
sns.countplot(data=df,x="Day_of_week")
plt.xlabel("Day")
plt.ylabel("count")
plt.title("NUMBER OF ACCIDENTS PER DAY IN WEEK")
plt.show()

NUMBER OF ACCIDENTS ARE MORE ON FRIDAY

CONVERTING OUR TIME TO HOUR AND MINUTE AND SECOND

In [ ]:
df['Time'] = pd.to_datetime(
    df['Time'],
    format="%H:%M:%S",
    errors='coerce'
)

**ANALYSING BY TIME**

In [ ]:
df["hour"]=df["Time"].dt.hour
plt.figure(figsize=(10,6))
sns.countplot(data=df,x="hour",hue="Accident_severity",palette="gnuplot")
plt.title("ACCIDENTS BY HOUR AND SEVERITY")
plt.xlabel('HOUR OF THE DAY')
plt.ylabel("NUMBER OF ACCIDENTS")
plt.show()

THE NUMBER OF ACCIDENTS ARE MORE IN 17TH HOUR

In [ ]:
df["Weather_conditions"].value_counts()

**ANALYSING ACCIDENTS WITH WEATHER**

In [ ]:
plt.figure(figsize=(20,10))
sns.countplot(data=df,x="Weather_conditions",hue="Accident_severity",palette="gnuplot")
plt.title("ACCIDENTS BY WEATHER CONDITIONS AND SEVERITY")
plt.xlabel('WEATHER CONDITIONS')
plt.ylabel("NUMBER OF ACCIDENTS")
plt.show()

MOST OF ACCIDENTS HAS BEEN OCCURED WHEN OUR WEATHER CONDITION ARE NORMAL AND WHEN OUR WEATHER CONDITIONS ARE RAINING

**ANALYSING THE AREA OF ACCIDENT OCCURED AND SEVERITY OF ACCIDENT**

In [ ]:
plt.figure(figsize=(20,10))
sns.countplot(data=df,x="Area_accident_occured",hue="Accident_severity",palette='viridis')
plt.xlabel("area")
plt.ylabel("severity")
plt.title("SEVERITY BASED ON AREA OF ACCIDENT")

MORE ACCIDENT AREAS ARE HAPPENING AT OFFICE AND RECREATIONAL AREAS AND RESIDENTAL AREAS

**ANALSING THE SEVERITY OF ACCIDENT FOR MALE AND FEMALE**

In [ ]:
plt.figure(figsize=(20,10))
sns.countplot(data=df,x="Sex_of_casualty",hue="Accident_severity",palette='viridis')
plt.xlabel("GENDER")
plt.ylabel("SEVERITY")
plt.title("SEVERITY BASED ON MALE AND FEMALE")

MORE ACCIDENT SEVERITY ARE CAUSED TO MALE AND UNKNOWN

**ANALSING ACCIDENT SEVERITY BASED ON DRIVING EXPERIENCE**

In [ ]:
plt.figure(figsize=(20,10))
sns.countplot(data=df,x="Driving_experience",hue="Accident_severity",palette='viridis')
plt.xlabel("DRIVING EXPERIENCE")
plt.ylabel("SEVERITY")
plt.title("SEVERITY BASED ON DRIVING EXPERIENCE")

5-10 YEARS EXPERIENCED PEOPLE HAS CAUSED MORE ACCIDENTS

In [ ]:
df["Road_surface_conditions"].unique()

**NUMBER OF ACCIDENTS BASED ON ROAD CONDITIONS**

In [ ]:
plt.figure(figsize=(10,8))
sns.countplot(data=df,x="Road_surface_conditions")
plt.xlabel("ROAD ACCIDENTS")
plt.ylabel("COUNT")
plt.title("NUMBER OF ACCIDENTS PER DAY IN WEEK")
plt.show()

MOST OF THE ACCIDENTS HAS BEEN OCCURED IN WET ROAD